################################################################################
# REPOSITORY SPECIFIC                                                          #
# NOTE:                                                                        #
#   1. To make exception, prefix with '!' (means 'not to include') rather than #
#      modify the standardized list                                            #
################################################################################




################################################################################
# COMMON STANDARDIZED FORMATS                                                  #
################################################################################
# sites
appengine-generated/*
[Bb]uilds/*
[Bb]uild/*
[Dd]ebugs/*
[Dd]ebug/*
[Dd]ist/*
[Dd]ists/*
gh-pages/*
pkg/
public/*
[Oo]utputs/*
[Oo]utput/*
[Pp]latforms/*
[Pp]latform/*
[Rr]eleases/*
[Rr]elease/*
!/*/[Rr]eleases/*
!/*/[Rr]elease/*
[Tt]argets/*
[Tt]arget/*
[Uu]loads/*
[Uu]load/*
[Vv]endors/*
[Vv]endor/*
zig-out/*


# dependencies
.flutter-plugins
.flutter-plugins-dependencies
.idea/*
nimcache/*
nimblecache/*
.ninja_deps
node_modules/*
nupkg/*
[Pp]lugins/*
*.snupkg
[Tt]hemes/*


# workspaces
.angular/*
[Bb]ackups/*
[Bb]ackup/*
bin/*
bitrix/*
!/bitrix/components
!/bitrix/gadgets
!/bitrix/php_interface
!/bitrix/templates
[Bb]uild[Ll]og.*
cache/*
captures/
CodeCoverage/
[Cc]overages/*
[Cc]overage/*
.dart_tool/*
.cxx/*
e2e/test-output/*
.externalNativeBuild/*
.godots/*
.import/*
lib/*
[Ll]lis/*
[Ll]lib/*
[Ll]ogs/*
[Ll]og/*
/out-tsc
.pnp.*
[Rr]ecovery/*
.sass-cache/*
.terraform/*
[Tt]est[Rr]esult*/*
tmp/*
.tmp_versions/*
tools/*
thumbs/*
_thumbs/*
venv/*
venv.*/*
.vscode
.vs/*
xcuserdata/*
yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.zig-cache/*


# configurations
$RECYCLE.BIN/
.AppleDouble
.git/*
*.bak
CASS.ini
.c9revisions
.c9
deploymentTargetDropDown.xml
Desktop.ini
.dropbox
.dropbox.attr
.dropbox.cache
*.dwo
*.env
*.env/*
*.env.*/*
*.gho
!go.sum
!go.mod
*.hmap
!LICENSE
!LICENSE.*
!Makefile
misc.xml
*.iml
*.ori
*.orig
modules.order
Module.symvers
Mkfile.old
.nomedia
output-metadata.json
!README.md
render.experimental.xml
*.sym
.stfolder/*
.stversions
.svn/*
**/.terraform/*
*.tfstate
*.tfstate.*
*.tmp
typings
.thumbnails/*


# system
*.pid
*.seed


# credential files
[Ss]ecrets/*
[Ss]ecret/*
*.kdb
*.kdbx
*.key
*.crt
*.csr
*.p12
*.pem
*.rnd
secring.*
*.smime
*.ssleay


# archives
*.7z
*.bzip
*.bzip2
*.bz2
*.cab
*.egg
*.gem
*.gz
*.gzip
*.iso
*.jar
*.lzma
*.msp
*.rar
*.tar
*.tgz
*.txz
*.tzst
*.xz
*.zip
*.xar
*.xpi
*.zst


# packages
*.aab
*.apk
*.appimage
*.deb
*.flatpak
*.ipk
*.msm
*.msi
*.msix
*.nupkg
*.rpm


# binaries
*.a
*.a3x
*.alc
*.app
*.atsuo
*.aws
*.cubin
*.cydb
*.cyidx
*.cylc
*_stripped.au3
*.bin
*.d
!*.d/
*.dll
*.dSYM/*
*.dSYM.zip
*.dylib
*.eep
*.elf
*.exe
*.exp
*.fatbin
*.gch
*.gpu
*.hex
*.i
*.idb
*.i*86
*.ii
*.ilk
*.ko
*.la
*.lai
*.lib
*.lo
*.map
*.mod*
!go.mod
*.o
*.obj
*.out
*.pch
*.pcxml
*.pdb
*.ptx
*.pyc
*.pyo
*.rptx
*.slc
*.slo
*.so
*.srec
*.su
*.swf
*.vvf
*.x86_64
*.yxdb
*.yxbe
*.yxft
*.yxlang
*.yxlc
*.yxwv


# databases
*.db
*.db-journal
.DS_Store
ehthumbs.db
*.jks
*.keystore
*.profraw
*.rdb
*.sqlite
*.sqlite3
*.sqlite-journal
/db/*.sqlite3-[0-9]*
*.VC.db
Thumbs.db


# log
bash_history
*.buildlog
*.coverage
*.hprof
*.log
.ninja_log
pry.history
*.retry


# lock files
*.lock
.~lock*
4913
*.swp
.gsf-save*
.lock-wscript
package-lock.json
.nyc_output
__pycache__



# credentials
.aws/credentials
aws/credentials
homefolder/aws/credentials

google-services.json

/ssh/*
/.ssh/*
id_rsa
.id_rsa
id_dsa
.id_dsa
id_ed25519
.id_ed25519
id_ecdsa
.id_ecdsa

# ci
.ansible/
.bundle
/.aswb/*
/bazel-*
/.clwb/*
/.ijwb/*
/SECRETS.toml
.gradle/*
